.banner {
    width: 100%;
    height: auto;

    .banner-container {
        position: relative;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;

            .img {
                width: 100%;
                height: 90vh;
            }
        }

        .text-content {
            position: relative;
            border-radius: 20px;
            color: #fff;
            width: 665px;
            // height: 380px;
            height: 300px;
            padding: 4rem 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: rgba(0, 0, 0, 0.5);
            align-items: center;
            justify-content: flex-end;

            .upper {
                display: flex;
                width: 100%;
                gap: 1.5rem;
                height: auto;
                flex-direction: column;



                .heading {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2.8rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    gap: .5rem;

                    span.yellow-text {
                        color: #FFD93D;

                    }
                }

                .search-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;



                    .searchBar {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    #searchQueryInput {
                        width: 550px;
                        height: 3.5rem;
                        color: #000;
                        background: #f5f5f5;
                        outline: none;
                        border: none;
                        border-radius: 1.625rem;
                        padding: 0 3.5rem 0 1.5rem;
                        font-size: 1rem;
                    }

                    #searchQuerySubmit {
                        background-color: #FFD93D !important;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        margin-left: -2.5rem;
                        background: none;
                        border: none;
                        outline: none;

                        .img {
                            width: 100%;
                            height: auto;
                            padding: 6px;
                            z-index: 5;
                        }
                    }

                    #searchQuerySubmit:hover {
                        cursor: pointer;
                    }
                }

                .flight {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .flight-btn {

                        cursor: pointer;
                        text-transform: capitalize;
                        color: #FFD93D;
                        font-size: 1.2rem;
                        transition: all .5s linear;
                        
                        
                        &:hover {

                            color: #fff;
                        }

                        @media (max-width:767px){
                            font-size: .9rem;
                        }
                    }

                }

            }

            .bottom {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;


                .bottom-text {

                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;


                    .bottom-container {
                        height: auto;
                        width: 100%;
                        display: flex;
                        padding: 1rem;
                        gap: 5px;
                        justify-content: center;
                        align-items: center;

                        .bottom-item {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .img {
                                    width: 30px;
                                    height: 30px;
                                }
                            }


                            .text {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

    }

    // tablet design
    @media (max-width:1024px) {
        .banner-container {

            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .text-content {
                width: 75%;
                height: auto;
                padding: 1rem 0 0 0;
                gap: 1.5rem;

                .upper {
                    display: flex;
                    width: 100%;
                    gap: 1.5rem;
                    height: auto;
                    flex-direction: column;

                    .heading {
                        font-size: 2.5rem;


                        .title span.yellow-text {
                            color: #FFD93D;

                        }
                    }

                    .search-content {
                        display: flex;
                        justify-content: center;
                        align-items: center;



                        #searchQueryInput {
                            width: 500px;
                        }


                        #searchQuerySubmit:hover {
                            cursor: pointer;
                        }
                    }

                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;


                    .bottom-text {

                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;


                        .bottom-container {
                            height: auto;
                            width: 100%;
                            display: flex;
                            padding: 1rem;
                            gap: 1rem;
                            justify-content: center;
                            align-items: center;

                            .bottom-item {
                                width: 100%;
                                height: auto;
                                display: flex;
                                gap: 5px;

                                .icon {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    .img {
                                        width: 30px;
                                        height: 30px;
                                    }
                                }


                                .text {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    // mobile design
    @media (max-width:767px) {
        .banner-container {
            position: relative;
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;

                .img {
                    width: 100%;
                    height: 90vh;
                }
            }


            .text-content {
                position: relative;
                border-radius: 20px;
                color: #fff;
                width: 80%;
                height: auto;
                /* padding-top: 2rem; */
                padding: 1rem 0 0 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                background-color: rgba(0, 0, 0, 0.5);
                align-items: center;
                justify-content: space-between;
                // background-color: transparent;
                // margin-top: 6rem;

                .upper {
                    display: flex;
                    width: 100%;
                    gap: 1rem;
                    height: auto;
                    flex-direction: column;



                    .heading {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        font-size: 1.3rem;
                        font-weight: 900;
                        gap: 0;

                        .title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;


                        }
                    }

                    .search-content {
                        display: flex;
                        justify-content: center;
                        align-items: center;



                        .searchBar {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }

                        #searchQueryInput {
                            width: 270px;
                            height: 3rem;
                            color: #000;
                            background: rgba(255, 255, 255, 0.5);
                            outline: none;
                            border: none;
                            border-radius: 1.6rem;
                            padding: 0 3.5rem 0 1.5rem;
                            font-size: 1rem;
                        }

                        #searchQuerySubmit {
                            background-color: #FFD93D !important;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            margin-left: -2.5rem;
                            background: none;
                            border: none;
                            outline: none;

                            .img {
                                width: 100%;
                                height: auto;
                                padding: 6px;
                                z-index: 5;
                            }
                        }

                        #searchQuerySubmit:hover {
                            cursor: pointer;
                        }
                    }

                }








                .bottom {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;


                    .bottom-text {

                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        // background-color: transparent;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;


                        .bottom-container {
                            height: auto;
                            position: relative;
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            padding: 1rem 0.5rem;
                            gap: .4rem;
                            // justify-content: space-between;
                            justify-content: center;
                            align-items: center;

                            .bottom-item {
                                background-color: #FFD93D;
                                color: #000;
                                width: 48%;
                                height: auto;
                                display: flex;
                                gap: 10px;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 5px;
                                border-radius: 6px;

                                .icon {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    filter: invert(1);
                                    margin: 0 0.2rem;

                                    .img {
                                        width: 20px;
                                        height: 20px;

                                    }
                                }


                                .text {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 2px;
                                    font-size: 10px;
                                    font-weight: 600;
                                }

                            }
                        }
                    }
                }
            }

        }
    }


}